&.zoomInOut {

  &.forward .image {

    &.ng-hide-remove, &.ng-hide-add {
      transition: all ease $animspeed;
    }

    &.ng-hide-add.ng-hide-add-active {
      opacity: 0;
      transform: scale($scaleIn);
    }

    &.ng-hide-add {
      opacity: 1;
      transform: scale(1);
    }

    &.ng-hide-remove.ng-hide-remove-active {
      opacity: 1;
      transform: scale(1);
    }

    &.ng-hide-remove {
      opacity: 0;
      transform: scale($scaleIn);
    }

  }

  &.backward .image {

    &.ng-hide-remove, &.ng-hide-add {
      transition: all ease $animspeed;
    }

    &.ng-hide-add.ng-hide-add-active {
      opacity: 0;
      transform: scale($scaleIn);
    }

    &.ng-hide-add {
      opacity: 1;
      transform: scale(1);
    }

    &.ng-hide-remove.ng-hide-remove-active {
      opacity: 1;
      transform: scale(1);
    }

    &.ng-hide-remove {
      opacity: 0;
      transform: scale($scaleIn);
    }

  }
}
