<button ng-if="!$ctrl.asg.isSingle" class="btn btn-default btn-sm" ng-click="$ctrl.asg.autoPlayToggle()">
	<span ng-if="!$ctrl.asg.options.autoplay.enabled" class="fa fa-play"></span>
	<span ng-if="$ctrl.asg.options.autoplay.enabled" class="fa fa-stop"></span>
</button>

<button ng-if="!$ctrl.asg.isSingle" class="btn btn-default btn-sm " ng-click="$ctrl.asg.toFirst(true)">
	{{ $ctrl.asg.selected + 1 }} | {{ $ctrl.asg.files.length }}
</button>

<button ng-if="!$ctrl.asg.isSingle" class="btn btn-default btn-sm" ng-click="$ctrl.asg.toBackward(true)">
	<span class="fa fa-chevron-left"></span>
</button>

<button ng-if="!$ctrl.asg.isSingle" class="btn btn-default btn-sm" ng-click="$ctrl.asg.toForward(true)">
	<span class="fa fa-chevron-right"></span>
</button>

