<div class="items">
	<div class="item"
		 ng-click="$ctrl.setSelected(key, $event)"
		 ng-mouseover="$ctrl.hover(key, $event)"
		 ng-repeat="(key,file) in $ctrl.asg.files track by $index"
		 ng-style="{'background-color': file.source.color}"
		 ng-class="{'selected' : $ctrl.asg.selected == key}">

		<img ng-src="{{ file.source.panel }}"
			 ng-style="{'height': $ctrl.config.height + 'px'}"
			 alt="{{ file.title }}"/>

		<span class="index" ng-if="$ctrl.config.index">{{ key + 1 }}</span>

	</div>
</div>
