<button data-ng-if="!$ctrl.asg.isSingle" class="btn btn-default btn-sm" data-ng-click="$ctrl.asg.autoPlayToggle()">
	<span data-ng-if="!$ctrl.asg.options.autoplay.enabled" class="glyphicon glyphicon-play"></span>
	<span data-ng-if="$ctrl.asg.options.autoplay.enabled" class="glyphicon glyphicon-stop"></span>
</button>

<button data-ng-if="!$ctrl.asg.isSingle" class="btn btn-default btn-sm " data-ng-click="$ctrl.asg.toFirst(true)">
	{{ $ctrl.asg.selected + 1 }} | {{ $ctrl.asg.files.length }}
</button>

<button data-ng-if="!$ctrl.asg.isSingle" class="btn btn-default btn-sm" data-ng-click="$ctrl.asg.toBackward(true)">
	<span class="glyphicon glyphicon-chevron-left"></span>
</button>

<button data-ng-if="!$ctrl.asg.isSingle" class="btn btn-default btn-sm" data-ng-click="$ctrl.asg.toForward(true)">
	<span class="glyphicon glyphicon-chevron-right"></span>
</button>

