<div class="asg-panel {{ $ctrl.asg.theme }}"
	 data-ng-show="$ctrl.config.visible">

	<div data-ng-repeat="(key,file) in $ctrl.asg.files"
		 class="item {{ $ctrl.asg.options.panel.item.class }}"
		 data-ng-class="{'selected' : $ctrl.asg.selected == key}"
		 data-ng-mouseover="indexShow = true"
		 data-ng-mouseleave="indexShow = false">

		<img data-ng-src="{{ file.source.panel }}"
			 data-ng-click="$ctrl.asg.setSelected(key)"
			 data-ng-mouseover="$ctrl.asg.hoverPreload(key)"
			 alt="{{ file.title }}"/>
		<span class="index" data-ng-if="$ctrl.config.item.index && indexShow">{{ key + 1 }}</span>

		<div class="caption" data-ng-if="$ctrl.config.item.caption">
			<span>{{ file.title }}</span>
		</div>
	</div>

</div>