<div class="asg-modal {{ $ctrl.asg.classes }}"
	 ng-class="$ctrl.getClass()"
	 ng-click="$ctrl.imageClick($event);"
	 ng-show="$ctrl.asg.modalVisible"
	 ng-cloak>

	<div tabindex="1" class="keyInput" ng-keydown="$ctrl.keyUp($event)"></div>

	<div class="frame" ng-click="$ctrl.asg.modalClick($event);">

		<div class="header" ng-if="$ctrl.config.header.enabled" ng-click="$ctrl.asg.modalClick($event);">

			<span class="buttons visible-xs pull-right">
				<span ng-include="'views/button/asg-index-xs.html'"></span>
			</span>

			<span class="buttons hidden-xs pull-right">
				<span ng-repeat="item in ::$ctrl.config.header.buttons" ng-include="('views/button/asg-' + item + '.html')"></span>
            </span>

			<span ng-if="$ctrl.config.title">
				<span class="title">{{ $ctrl.config.title }}</span>
				<span class="subtitle hidden-xs" ng-if="$ctrl.config.subtitle">{{ $ctrl.config.subtitle }}</span>
			</span>

		</div>

		<div class="images {{ $ctrl.asg.direction }} {{ $ctrl.config.transition }}"
			 ng-style="{'top': $ctrl.marginTop + 'px', 'bottom': $ctrl.marginBottom + 'px'}"
			 ng-mouseover="$ctrl.asg.over.modalImage = true;"
			 ng-mouseleave="$ctrl.asg.over.modalImage = false;">

			<div class="help text-right" ng-click="$ctrl.toggleHelp($event)" ng-show="$ctrl.config.help" ng-include="'views/asg-help.html'"></div>

			<div class="arrows"
				 ng-if="$ctrl.config.arrows"
				 ng-swipe-left="$ctrl.asg.toForward(true)"
				 ng-swipe-right="$ctrl.asg.toBackward(true)"
				 ng-click="$ctrl.imageClick($event)">

				<div ng-if="!$ctrl.asg.isSingle" class="toBackward">

					<button class="btn btn-default btn-lg pull-left visible-md visible-lg"
							data-ng-click="$ctrl.toBackward(true, $event)">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</button>

					<button class="btn btn-default btn-md pull-left visible-sm" ng-click="$ctrl.toBackward(true, $event)">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</button>

				</div>

				<div ng-if="!$ctrl.asg.isSingle" class="toForward">

					<button class="btn btn-default btn-lg pull-right visible-md visible-lg"
							data-ng-click="$ctrl.toForward(true, $event)">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</button>

					<button class="btn btn-default btn-md pull-right visible-sm" ng-click="$ctrl.toForward(true, $event)">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</button>

				</div>

			</div>

			<div class="img"
				 ng-repeat="(key,file) in $ctrl.asg.files"
				 ng-show="$ctrl.asg.selected == key"
				 ng-class="{'loading' : !file.loaded.modal}">

				<div class="source {{ $ctrl.config.size }}"
					 ng-style="{'background-image': 'url(' + file.source.modal + ')'}"
					 ng-if="file.loaded.modal"></div>

			</div>

			<div class="caption {{ $ctrl.config.caption.position }}"
				 ng-show="!$ctrl.config.caption.disabled"
				 ng-class="{'visible' : $ctrl.config.caption.visible}">
				<div class="content">
					<span class="title">{{ $ctrl.asg.file.title }}</span>
					<span ng-if="$ctrl.asg.file.title && $ctrl.asg.file.description"> - </span>
					<span class="description">{{ $ctrl.asg.file.description }}</span>
					<a href="{{ $ctrl.asg.downloadLink() }}" target="_blank" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-download"></span> Download
					</a>
				</div>
			</div>

		</div>

		<ng-transclude></ng-transclude>

	</div>

</div>