<div class="items">
	<div class="item {{ $ctrl.asg.options.panel.item.class }}"
		 ng-mouseover="$ctrl.hover(key, $event)"
		 ng-repeat="(key,file) in $ctrl.asg.files track by $index"
		 ng-style="{'background-color': file.source.color}"
		 ng-class="{'selected' : $ctrl.asg.selected == key}">

		<img ng-src="{{ file.source.panel }}"
			 ng-click="$ctrl.setSelected(key, $event)"
			 alt="{{ file.title }}"/>

		<span class="index" ng-if="$ctrl.config.item.index">{{ key + 1 }}</span>

		<div class="caption" ng-if="$ctrl.config.item.caption">
			<span>{{ file.title }}</span>
		</div>
	</div>
</div>
