$white: #f1f1f1;
$black: #050505;
$primary: #42c7d5;
$background: #101010;
$highlight: #d5b045;

&.darkblue {

  background-color: $background;
  color: $primary;

  .highlight {
    color: $highlight;
  }

  .header {
    background-color: $background;

    h2, h3, h4 {
      sup {
        color: $highlight;
        text-transform: initial;
      }
    }

  }

  .help {
    background-color: $background;
    color: $white;
    opacity: 0.75;
  }

  .images {
    .img {
      .details {
        background-color: rgba($black, 0.5);
      }
    }
  }

}