<!DOCTYPE html>
<html lang="en" data-ng-app="demo" data-ng-controller="DemoController as ctrl">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Angular Super Gallery Demo</title>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"
			integrity="sha256-jFCqhWdzGFjoG8/SAncY2afI/Xv1TPSWSZrb9dpXQbk="
			crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"
			integrity="sha256-lE2XZC7eMrdH+KRaKXPWg1YqsAcDdhmqFAPbPG5f/U8="
			crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.4/angular-touch.js"
			integrity="sha256-cTsmFaFeMR70ihoa6L20+fCf2TSfIrjkfL3KSa2DP7M="
			crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">


	<script src="angular-fullscreen.js"></script>

	<link href="../dist/angular-super-gallery.css" rel="stylesheet" type="text/css"/>
	<script src="../dist/angular-super-gallery.js"></script>
	<script src="demo.js"></script>

</head>
<body>

<style>

	.thumbnail-custom {
		width: 25%;
		float: left;
		padding: 1px 1px 0px 0px;
	}

</style>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1>Angular Super Gallery Demo
				<a class="btn btn-default" href="https://github.com/schalkt/angular-super-gallery" target="_blank">
					<img src="github.ico" width="16" height="16"/> Github repository
				</a>
			</h1>
		</div>
	</div>

	<div class="row">

		<div class="col-md-6">

			<div class="panel panel-default">

				<div class="panel-heading">
					<button class="btn btn-warning" data-ng-click="showModal1 = !showModal1">
						Open demo gallery 1 window
					</button>
					<button class="btn btn-default btn-xs pull-right" data-ng-click="showOptions1 = !showOptions1">show
						options
					</button>
				</div>
				<div class="panel-body">

					<pre data-ng-if="showOptions1">{{ ctrl.options1|json}}</pre>

					<asg-image data-id="nature"></asg-image>
					<asg-panel data-id="nature" data-options="ctrl.options1" data-items="ctrl.files1"></asg-panel>
					<asg-modal data-id="nature" data-visible="showModal1"></asg-modal>

				</div>

				<div class="panel-footer text-center">
					photos : <a target="_blank" href="https://wallpaperscraft.com"/>wallpaperscraft.com</a>
				</div>

			</div>

		</div>

		<div class="col-md-6">

			<div class="panel panel-default">

				<div class="panel-heading">
					<button class="btn btn-warning" data-ng-click="showModal2 = !showModal2">
						Open demo gallery 2 window
					</button>
					<button class="btn btn-default btn-xs pull-right" data-ng-click="showOptions2 = !showOptions2">show
						options
					</button>
					<button class="btn btn-default btn-xs pull-right" data-ng-click="showThumbnails2 = !showThumbnails2">
						show
						thumbnails
					</button>
				</div>
				<div class="panel-body">

					<pre data-ng-if="showOptions2">{{ ctrl.options2|json}}</pre>

					<asg-panel class="clearfix"
							   data-id="girls"
							   data-options="ctrl.options2"
							   data-items="ctrl.files2"
							   data-ng-show="showThumbnails2"></asg-panel>
					<asg-image data-id="girls"></asg-image>
					<asg-modal data-id="girls" data-visible="showModal2"></asg-modal>

				</div>

				<div class="panel-footer text-center">
					photos : <a target="_blank" href="https://wallpaperscraft.com"/>wallpaperscraft.com</a>
				</div>

			</div>


		</div>

	</div>

</div>

</body>
</html>
