$primary: #42c7d5;
$default: #f1f1f1;
$background: #202020;
$black: #101010;
$highlight: #d5b045;

$primary_hover: darken($primary, 20%);
$imgpath: "/sources/grayscale/img";
$perspective: 1280px;

body.yhidden {
  overflow-y: hidden;
}

.gallery-panel {

  .thumbnail {
    overflow: hidden;
  }

}

.gallery-view {

  z-index: 99999;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black;
  color: $primary;
  padding: 0;
  outline: none;
  opacity: 1;

  &.ng-hide-add, &.ng-hide-remove {
    transition: all ease 0.42s;
  }

  &.ng-hide {
    opacity: 0;
  }

  .keyInput {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  .header {
    position: relative;
    background-color: $background;
    height: auto;
    padding: 7px;
    z-index: 7700;

    h2, h3, h4 {
      margin: 0;
    }

    .buttons {
      margin-left: 10px;
    }

  }

  perspective: $perspective;

  .help {
    position: absolute;
    right: 0;
    padding: 10px;
    z-index: 7500;
    background-color: $black;
    color: $default;
    opacity: 0.75;
    transition: all ease 0.42s;
    transform: translateY(0) rotateX(0deg);

    &.ng-hide {
      opacity: 0;
      transform-origin: right center;
      transform: translateX(77px) rotateY(0deg);
    }

  }

  &.nogui {

    .header {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;

      &:hover {
        opacity: 0.75;
      }

    }

    .images {
      top: 0px;
      bottom: 0px;
    }

  }

  .images {

    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 5px;
    left: 0px;
    z-index: auto;
    overflow: hidden;
    perspective: $perspective;

    .toBackward, .toForward {

      position: absolute;
      top: 45%;
      bottom: 0;
      z-index: auto;

      .btn {
        opacity: 0.4;

        &:hover {
          opacity: 1;
        }

      }

    }

    .toBackward {
      right: 50%;
      left: 0;
    }

    .toForward {
      right: 0;
      left: 50%;
    }

    .functions {
      position: absolute;
      right: 0;
      z-index: auto;
    }

    .img {
      position: absolute;
      z-index: auto;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      text-align: center;
      opacity: 1;

      .source {
        position: absolute;
        z-index: auto;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      .description {
        position: absolute;
        z-index: 100;
        bottom: 5px;
        left: 0;
        right: 0;
        text-align: center;
      }

    }

    $animspeed: 0.75s;
    $animsize: 150px;
    $rotate: 40deg;
    $scaleIn: 1.15;
    $scaleOut: 0.85;

    &.rotateLR {

      &.forward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: rotateY(-$rotate) translateX(-$animsize);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: rotateY(0deg) translateX(0);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: rotateY(0deg) translateX(0);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: rotateY($rotate) translateX($animsize);
        }

      }

      &.backward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: rotateY($rotate) translateX($animsize);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: rotateY(0deg) translateX(0);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: rotateY(0deg) translateX(0);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: rotateY(-$rotate) translateX(-$animsize);
        }

      }
    }

    &.rotateTB {

      &.forward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: translateY($animsize) rotateX(-$rotate);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: translateY(0) rotateX(0deg);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: translateY(0) rotateX(0deg);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: translateY(-$animsize) rotateX($rotate);
        }

      }

      &.backward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: translateY(-$animsize) rotateX($rotate);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: translateY(0) rotateX(0deg);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: translateY(0) rotateX(0deg);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: translateY($animsize) rotateX(-$rotate);
        }

      }

    }

    &.slideLR {

      &.forward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: translateX(-$animsize);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: translateX(0);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: translateX(0);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: translateX($animsize);
        }

      }

      &.backward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: translateX($animsize);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: translateX(0);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: translateX(0);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: translateX(-$animsize);
        }

      }
    }

    &.slideTB {

      &.forward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: translateY($animsize);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: translateY(0);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: translateY(0);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: translateY(-$animsize);
        }

      }

      &.backward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: translateY(-$animsize);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: translateY(0);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: translateY(0);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: translateY($animsize);
        }

      }

    }

    &.fadeInOut {

      &.forward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
        }

        &.ng-hide-add {
          opacity: 1;
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
        }

        &.ng-hide-remove {
          opacity: 0;
        }

      }

      &.backward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
        }

        &.ng-hide-add {
          opacity: 1;
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
        }

        &.ng-hide-remove {
          opacity: 0;
        }

      }
    }

    &.zoomInOut {

      &.forward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: scale($scaleIn);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: scale(1);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: scale(1);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: scale($scaleOut);
        }

      }

      &.backward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: scale($scaleOut);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: scale(1);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: scale(1);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: scale($scaleIn);
        }

      }
    }

    &.rotateZY {

      &.forward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: rotateZ(-$rotate) rotateY($rotate);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: rotateZ(0) rotateY(0deg);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: rotateZ(0) rotateY(0deg);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: rotateZ($rotate) rotateY(-$rotate);
        }

      }

      &.backward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: rotateZ($rotate) rotateY(-$rotate);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: rotateZ(0) rotateY(0deg);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: rotateZ(0) rotateY(0deg);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: rotateZ(-$rotate) rotateY($rotate);
        }

      }

    }

    &.flipY {

      &.forward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: rotateY(-180deg);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: rotateY(0deg);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: rotateY(0deg);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: rotateY(180deg);
        }

      }

      &.backward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: rotateY(180deg);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: rotateY(0deg);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: rotateY(0deg);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: rotateY(-180deg);
        }

      }
    }

    &.flipX {

      &.forward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: rotateX(-180deg);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: rotateX(0deg);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: rotateX(0deg);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: rotateX(180deg);
        }

      }

      &.backward .img {

        &.ng-hide-remove, &.ng-hide-add {
          transition: all ease $animspeed;
        }

        &.ng-hide-add.ng-hide-add-active {
          opacity: 0;
          transform: rotateX(180deg);
        }

        &.ng-hide-add {
          opacity: 1;
          transform: rotateX(0deg);
        }

        &.ng-hide-remove.ng-hide-remove-active {
          opacity: 1;
          transform: rotateX(0deg);
        }

        &.ng-hide-remove {
          opacity: 0;
          transform: rotateX(-180deg);
        }

      }
    }

  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    position: relative;
  }

  .dropdown-submenu.open > .dropdown-menu {
    display: block;
  }

}