<div class="gallery-panel">

	<div class="row">
		<div class="{{ $ctrl.options.thumbnail.class }}"
			 data-ng-repeat="(key,file) in $ctrl.files">
			<a class="thumbnail" href="#{{key}}" data-ng-click="$ctrl.open(key)">
				<img data-ng-src="{{ file.thumbnail }}" alt="{{ file.title }}"/>
			</a>
		</div>
	</div>

</div>

<div class="gallery-view {{ $ctrl.id }}"
	 data-ng-class="{'nogui' : !$ctrl.gui}"
	 data-ng-click="$ctrl.setFocus()"
	 data-ng-show="$ctrl.visible"
	 data-ng-cloak>

	<div tabindex="1" class="keyInput" data-ng-keydown="$ctrl.keyUp($event)"></div>

	<div class="header">

        <span class="buttons pull-right visible-sm visible-md visible-lg">

                <button data-ng-if="!$ctrl.isSingle" class="btn btn-default btn-sm " data-ng-click="$ctrl.toFirst()">
                    {{ $ctrl.selected + 1 }} | {{ $ctrl.files.length }}
                </button>

                <button data-ng-if="!$ctrl.isSingle" class="btn btn-default btn-sm" data-ng-click="$ctrl.toBackward()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>

                <button data-ng-if="!$ctrl.isSingle" class="btn btn-default btn-sm" data-ng-click="$ctrl.toForward()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>

             <span data-ng-if="!$ctrl.isSingle" class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle ng-binding" type="button"
							data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li class="dropdown-submenu">
                            <a class="transitions" tabindex="-1" href="#">Transitions <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#" data-ng-click="$ctrl.setTransition(transition)"
									   data-ng-repeat="transition in $ctrl.transitions">
                                    <span data-ng-class="{'color-highlight' : transition == $ctrl.transition}">
                                        {{ transition }}</span></a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" tabindex="-1" data-ng-click="$ctrl.toggleHelp()">Help</a></li>
                    </ul>
                </span>


                <button class="btn btn-default btn-sm" data-ng-click="$ctrl.toggleGUI()">
                    <span data-ng-if="$ctrl.gui" class="glyphicon glyphicon-chevron-up"></span>
                    <span data-ng-if="!$ctrl.gui" class="glyphicon glyphicon-chevron-down"></span>
                </button>

                <button class="btn btn-default btn-sm" data-ng-click="$ctrl.toggleFullScreen()">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                </button>

                <button class="btn btn-default btn-sm" data-ng-click="$ctrl.exit()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>

            </span>

		<span class="buttons pull-right visible-xs">

                    <button data-ng-if="!$ctrl.isSingle" class="btn btn-default btn-xs "
							data-ng-click="$ctrl.toFirst()">
                        {{ $ctrl.selected + 1 }} | {{ $ctrl.files.length }}
                    </button>

                    <button data-ng-if="!$ctrl.isSingle" class="btn btn-default btn-xs"
							data-ng-click="$ctrl.toBackward()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>

                    <button data-ng-if="!$ctrl.isSingle" class="btn btn-default btn-xs"
							data-ng-click="$ctrl.toForward()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>

                    <span data-ng-if="!$ctrl.isSingle" class="dropdown">
                        <button class="btn btn-default btn-xs dropdown-toggle ng-binding" type="button"
								data-toggle="dropdown">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li class="dropdown-submenu">
                                <a class="transitions" tabindex="-1" href="#">Transitions <span
										class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#" data-ng-click="$ctrl.setTransition(transition)"
										   data-ng-repeat="transition in $ctrl.transitions">
                                        <span data-ng-class="{'color-highlight' : transition == $ctrl.transition}">
                                            {{ transition }}</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#" tabindex="-1" data-ng-click="$ctrl.toggleHelp()">Help</a></li>
                        </ul>
                    </span>

                    <button class="btn btn-default btn-xs" data-ng-click="$ctrl.toggleGUI()">
                        <span data-ng-if="$ctrl.gui" class="glyphicon glyphicon-chevron-up"></span>
                        <span data-ng-if="!$ctrl.gui" class="glyphicon glyphicon-chevron-down"></span>
                    </button>

                    <button class="btn btn-default btn-xs" data-ng-click="$ctrl.toggleFullScreen()">
                        <span class="glyphicon glyphicon-fullscreen"></span>
                    </button>

                    <button class="btn btn-default btn-xs" data-ng-click="$ctrl.exit()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>

                </span>

		<h2 class="visible-md visible-lg">
			{{ $ctrl.options.title }} <span data-ng-if="$ctrl.options.subtitle" class="color-default badge">{{ $ctrl.options.subtitle }}</span>
		</h2>

		<h3 class="visible-sm">
			{{ $ctrl.options.title }} <span data-ng-if="$ctrl.options.subtitle" class="color-default badge">{{ $ctrl.options.subtitle }}</span>
		</h3>

		<h4 class="visible-xs">
			{{ $ctrl.options.title }} <span data-ng-if="$ctrl.options.subtitle" class="color-default badge">{{ $ctrl.options.subtitle }}</span>
		</h4>

	</div>

	<div class="help text-right" data-ng-click="$ctrl.toggleHelp()" data-ng-show="$ctrl.help">
		SPACE : forward</br>
		RIGHT : forward</br>
		LEFT : backward</br>
		UP : first</br>
		DOWN : last</br>
		ESC : exit</br>
		T : change transition</br>
		F : toggle fullscreen</br>
		G : toggle gui</br>
		H : toggle help
	</div>

	<div class="images {{$ctrl.direction}} {{$ctrl.transition }}"
		 data-ng-mouseover="$ctrl.functionsShow()"
		 data-ng-mouseleave="$ctrl.functionsHide()"
		 data-ng-swipe-left="$ctrl.toForward()"
		 data-ng-swipe-right="$ctrl.toBackward()">

		<div class="img"
			 data-ng-repeat="(key,file) in $ctrl.files"
			 data-ng-show="$ctrl.selected == key"
			 data-ng-class="{'loading' : !file.loaded}">

			<div class="source" data-ng-if="file.loaded" data-ng-style="{'background-image': 'url({{ file.source }})'}"></div>

			<div class="description" data-ng-show="$ctrl.functionsVisible">
				<a href="{{ $ctrl.downloadLink() }}" target="_blank" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-picture"></span> {{ $ctrl.file.description ?
					$ctrl.file.description : $ctrl.file.url }}
					| {{ $ctrl.file.size|bytes }}
				</a>
			</div>
		</div>

		<div data-ng-if="!$ctrl.isSingle" data-ng-show="$ctrl.functionsVisible" class="toBackward">

			<button class="btn btn-default btn-lg pull-left visible-md visible-lg"
					data-ng-click="$ctrl.toBackward()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>

			<button class="btn btn-default btn-md pull-left visible-sm" data-ng-click="$ctrl.toBackward()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>

			<button class="btn btn-default btn-sm pull-left visible-xs"
					data-ng-click="$ctrl.toBackward()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>

		</div>

		<div data-ng-if="!$ctrl.isSingle" data-ng-show="$ctrl.functionsVisible" class="toForward">

			<button class="btn btn-default btn-lg pull-right visible-md visible-lg"
					data-ng-click="$ctrl.toForward()">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>

			<button class="btn btn-default btn-md pull-right visible-sm" data-ng-click="$ctrl.toForward()">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>

			<button class="btn btn-default btn-sm pull-right visible-xs"
					data-ng-click="$ctrl.toForward()">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>

		</div>

		<div data-ng-show="$ctrl.functionsVisible" class="functions">
		</div>

	</div>


</div>

