$perspective: 1280px;
$animspeed: 0.64s;
$animsize: 14%;
$rotate: 32deg;
$scaleIn: 1.14;
$scaleOut: 0.86;

body.yhidden {
  overflow-y: hidden;
}

@import "scss/asg-image";
@import "scss/asg-modal";
@import "scss/asg-panel";
@import "scss/asg-thumbnail";
@import "scss/asg-info";
@import "scss/asg-control";
@import "scss/theme-default";
@import "scss/theme-darkblue";
@import "scss/theme-whitegold";

.asg-modal {

  &.nomenu {

    .header {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;

      &:hover {
        opacity: 0.75;
      }

    }

    .images {
      top: 0px;
      bottom: 0px;
    }

  }

}