.asg-panel {

  .item {
    overflow: hidden;
    position: relative;

    img {
      cursor: pointer;
      display: block;
      max-width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }

    .index {
      position: absolute;
      top: 5px;
      z-index: 9999;
      right: 5px;
      padding: 1px 3px;
      font-size: 9px;
    }

  }

}