.asg-modal {

  z-index: 99999;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  outline: none;
  opacity: 1;

  &.ng-hide-add, &.ng-hide-remove {
    transition: all ease 0.42s;
  }

  &.ng-hide {
    opacity: 0;
  }

  .keyInput {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  .header {

    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 7700;

    .title {
      display: inline-block;
      margin: 7px 10px 2px 12px;
      text-transform: uppercase;
      float: left;
      font-size: 1.2em;
    }

    .subtitle {
      display: inline-block;
      margin: 4px 10px 2px 2px;
      text-transform: uppercase;
      float: left;
      font-size: 0.8em;
      background: #b5b5b5;
      color: #fefefe;
      padding: 8px 16px 6px 16px;
    }

    .file {
      font-size: 0.9em;
      padding: 10px 12px;
      display: inline-block;
    }

    .buttons {
      margin: 4px 4px 4px 14px;
    }

  }

  perspective: $perspective;

  .help {
    position: absolute;
    right: 0;
    padding: 10px;
    z-index: 7500;
    font-size: 12px;
    transition: all ease 0.42s;
    transform: translateY(0) rotateX(0deg);

    &.ng-hide {
      opacity: 0;
      transform-origin: right center;
      transform: translateX(77px) rotateY(0deg);
    }

  }

  &.noheader {

    .header {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;

      &:hover {
        opacity: 0.75;
      }

    }

    .images {
      top: 0px;
      bottom: 0px;
    }

  }

  .images {

    position: absolute;
    top: 42px;
    right: 0px;
    bottom: 4px;
    left: 0px;
    z-index: auto;
    overflow: hidden;
    perspective: $perspective;

    .toBackward, .toForward {

      position: absolute;
      top: 45%;
      bottom: 0;
      z-index: auto;

      .btn {
        opacity: 0.4;

        &:hover {
          opacity: 1;
        }

      }

    }

    .toBackward {
      right: 50%;
      left: 0;
    }

    .toForward {
      right: 0;
      left: 50%;
    }

    .functions {
      position: absolute;
      right: 0;
      z-index: auto;
    }

    @import "asg-transitions";

  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    position: relative;
  }

  .dropdown-submenu.open > .dropdown-menu {
    display: block;
  }

}