$white: #f1f1f1;
$black: #050505;
$primary: #42c7d5;
$primary_lighter: lighten($primary, 30%);
$background: #101010;

.asg-modal.darkblue {

  background-color: $background;
  color: $primary;

  .highlight {
    color: $primary_lighter;
  }

  .header {
    background-color: $background;

    h3, h4, h5 {
      sup {
        color: $primary_lighter;
        text-transform: initial;
      }
    }

  }

  .help {
    background-color: $background;
    color: $white;
    opacity: 0.75;
  }

  .images {
    .img {
      .details {
        background-color: rgba($black, 0.5);
      }
    }
  }

}

.asg-panel {
  .thumbnail {
    &.selected {
      border-color: $black;
    }
    .index {
      background-color: rgba($black, 0.5);
      color: $white;
    }
  }
}