$black: #050505;
$white: #fefefe;
$white_darken: darken($white, 14%);
$primary: #30c6d4;

.asg-modal.darkblue {

  .btn {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
  }

  .btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
  }

  .btn-default:focus, .btn-default:hover {
    border: 1px solid $primary;
    outline: none;
    color: $black;
    background-color: $primary;
  }

  background-color: $black;

  .highlight {

  }

  .header {
    background-color: $black;
    color: $primary;
    .title {
      margin: 9px 10px 2px 12px;
    }
    .subtitle {
      margin: 6px 10px 2px 2px;
      padding: 7px 16px 6px 16px;
      background: $primary;
      color: $black;
    }
    .buttons {
      margin: 6px 4px 4px 14px;
    }
  }

  .help {
    background-color: rgba($black, 0.77);
    color: $primary;
  }

  .images {
    .img {
      .details {

      }
    }

  }

  .caption {
    .content {
      background-color: rgba($black, 0.77);
      color: $primary;
    }
  }

}

.asg-control.darkblue {

  .btn {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
  }

  .btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
  }

  .btn-default:focus, .btn-default:hover {
    border: 1px solid $primary;
    outline: none;
    color: $black;
    background-color: $primary;
  }

  background-color: $black;

}

.asg-image.darkblue {

  background-color: $black;
  color: $primary;

  .asg-info {

    top: -100px;
    bottom: auto;
    font-size: 12px;
    background-color: rgba($black, 0);
    transition: all 0.25s;

    a {
      color: $primary;
      border-bottom: 1px dashed $primary;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $primary;
      }

    }

  }

  &:hover .asg-info {
    background-color: rgba($black, 0.77);
    top: 0;
  }

}

.asg-info.darkblue {

  background-color: $black;
  color: $primary;

}

.asg-panel.darkblue {

  background-color: $black;

  .item {

    background-color: $black;

    &.selected {
      border-color: $black;
    }
    .index {
      background-color: rgba($black, 0.56);
      color: $primary;
    }
  }
}