$black: #050505;
$white: #fefefe;
$white_darken: darken($white, 14%);

.asg-images {
	background-color: $white_darken;
}

.asg-thumbnail {
    .item {
        .index {
            background-color: $white_darken;
            color: $black;
        }
    }
}

.asg-container.asg-theme-default,
.asg-modal.asg-theme-default {
    background-color: $white_darken;
    .highlight {
        background-color: $white;
    }
    .header {
        background-color: $white;
        .subtitle {
            background: $white_darken;
            color: $white;
        }
    }
    .help {
        background-color: rgba($black, 0.56);
        color: $white_darken;
    }
    .caption {
        .content {
            background-color: rgba($black, 0.56);
            color: $white_darken;
        }
	}
	.video {
		background-color: $black;
	}
}

.asg-panel.asg-theme-default {
    .item {
        &.selected {
            border-color: $black;
        }
        .index {
            background-color: $white_darken;
            color: $black;
        }
    }
}
