$black: #050505;
$white: #fefefe;
$white_darken: darken($white, 14%);
$primary: #30c6d4;

.asg-modal.darkblue {

  .btn {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
  }

  .btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
  }

  .btn-default:focus, .btn-default:hover {
    border: 1px solid $primary;
    outline: none;
    color: $black;
    background-color: $primary;
  }

  background-color: $black;

  .highlight {

  }

  .header {
    background-color: $black;
    color: $primary;
    .title {
      margin: 9px 10px 2px 12px;
    }
    .subtitle {
      margin: 6px 10px 2px 2px;
      padding: 7px 16px 6px 16px;
      background: $primary;
      color: $black;
    }
    .buttons {
      margin: 6px 4px 4px 14px;
    }
  }

  .help {
    background-color: rgba($black, 0.56);
    color: $primary;
  }

  .images {
    .img {
      .details {

      }
    }
  }

  .caption {
    .content {
      background-color: rgba($black, 0.56);
      color: $primary;
    }
  }

}

.asg-image.darkblue {

  background-color: $black;

}

.asg-panel.darkblue {

  background-color: $black;

  .item {

    background-color: $black;

    &.selected {
      border-color: $black;
    }
    .index {
      background-color: rgba($black, 0.56);
      color: $primary;
    }
  }
}